doctype html
html
  head
    meta(charset="utf-8")
    title 搭配家
    meta(name="description" content="A simple fast stable and powerfull avatar service" )
    meta(name="keywords" content="Svpa,avatar,letter avatar" )
    link(href="/dist/vendor.min.css" rel="stylesheet")
    link(href="/dist/css/controller/#{route.controller}.min.css" rel="stylesheet")

  body#app
    header
      h2
        | 当前登录状态是 
        span(v-cloak) {{islogin}}
      button(v-on:click="login" v-show="!islogin") 登录
      button(v-on:click="logout" v-show="islogin") 注销
    block con
    footer
      script(src="/dist/vendor.min.js")
      
      //- 测试环境下额外的JS代码
      script(src="/dist/js/development.js") 
      script(src="/dist/js/controller/#{route.controller}.min.js")
      script.
        new APP.#{route.controller}.#{route.action}


